/* Colours:

  background dark: #1e2331
  background redder: #311e1e
  red: #7e3c3c
  orange: #cd6460
  red glow: #ff2a00
  yellow: #F3E600
  cyan: #65ffec

*/
* {
  font-family: Prime;
  letter-spacing: 2px;
  color: #65ffec;
}

body
{
  width: 400px;
  height: 500px;
  margin: 0;
  background: #311e1e;
  background: radial-gradient(circle, #311e1e 0%, #1e2331 100%);
}

button
{
  background-color: #7e3c3c;
  box-shadow: 0px 1px 5px #ff2a00;
  border-radius: 5px;
  border-width: 1px;
  border-color: #cd6460;
  outline: none;
  width: 100px;
  height: 50px;
  transition: all 0.2s ease-in-out;
  font-size: 15px;
}

.wide-text
{
  margin: 0 auto;
  padding: 0;
  letter-spacing: 5px;
  font-size: 12px;
  text-align: center;
}

/* span class */
.highlight
{
  font-weight: bold;
  font-stretch: expanded;
  text-shadow: 2px 2px 5px #cd6460;
  color: #cd6460;
}

.attention
{
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-stretch: expanded;
  text-shadow: 2px 2px 5px #cd6460;
  color: #F3E600;
}

#settings-icon, #shutdown-icon
{
  transition: all 0.5s ease-in-out 0s;
  width: 48px;
  height: 48px;
  float: right;
  margin-right: 5px;
  margin-top: 3px;
}

#settings-icon:hover
{
  cursor: pointer;
  transform: rotate(180deg);
  transition: all 0.7s ease-in-out 0s;
}

.main
{
  margin: 0 auto;
  width: 50%;
}

.summary-main
{
  margin-top: 20px;
}

.info
{
  float:left;
  width: 100%;
  list-style-type: none;
}


#svg-ring
{
  margin-top: 50%;
  text-align: center;
}

button:hover
{
  box-shadow: 0px 2px 15px #ff2a00;
  cursor:pointer;
}

.banner
{
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 2px 2px #cd6460;

}
.banner a
{
  transition: all 0.2s ease-in-out;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.banner a:hover {
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 5px #65ffec;;
  cursor:pointer;
}

/* Add a color to the active/current link */
.banner a.current {
  text-shadow: 2px 2px 5px #cd6460;
  color: #cd6460;
}

#progress-ring-circle
{
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

#trackers-blocked-percent
{
  font: Prime;
  font-size: 30px;
  letter-spacing: 2px;
  fill: #65ffec;
}

/* TRACKER LIST */
.tracker-list
{
  text-align: center;
}

h2
{
  font-size: 30px;
}

ul
{
  float: left;
  text-align: left;
}

.footer
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #65ffec;
  text-align: center;
}
